<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      {{!-- <h3 class="masthead-brand">WebScraper</h3> --}}
      {{!-- <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav> --}}
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">The Daily Newsscraper</h1>
    <p class="lead">Get the latest articles from the NY Times
    <p class="lead"></p>
      <a href="/scrape" class="btn btn-lg btn-secondary">Scrape</a>
    </p>
  </main>

  <ul>
    {{#each articles}}
    <li>
      <div>
        <h3>{{this.title}}</h3>
        <p>{{this.summary}}</p>
        <a href="/article/{{this._id}}"><p>Comments: {{this.comments.length}}</p></a>
        <a href="{{this.url}}"><p>link</p></a>
        <a href="/article/delete/{{this._id}}"><button>delete</button></a>

      </div>
    </li>
    {{/each}}
  </ul>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p></p>
    </div>
  </footer>
</div>